<ul class="navbar-nav navbar-right">
    <li ng-if="ctrl.identity.isLoggedIn" uib-dropdown class="user-name-holder" on-toggle="toggled(open)">
        <a href id="user-dropdown" uib-dropdown-toggle>Hello, <span class="user-name">{{ctrl.identity.username}} <span class="caret"></span></span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="user-dropdown">
            <li><a href ng-click="ctrl.identity.loginModal()"><span class="pull-left">Log Out</span> <i class="icon-surf-logout pull-right"></i></a></li>
        </ul><!-- dropdown-menu -->
    </li><!-- dropdown -->

    <li ng-if="!ctrl.identity.isLoggedIn"><a href="" ng-click="ctrl.identity.loginModal()">login <span class="caret"></span></a></li>
</ul>
