<ul class="navbar-nav navbar-right user-info">
    <li ng-if="ctrl.identity.isLoggedIn" uib-dropdown on-toggle="toggled(open)">
        <a href id="user-dropdown" uib-dropdown-toggle>
            <span class="glyphicon glyphicon-user" aria-hidden="true"><span class="caret"></span></span>
        </a>
        <ul class="uib-dropdown-menu" aria-labelledby="user-dropdown">
            <li class="user-name">
                Signed in as <b>{{ctrl.identity.username}}</b>
            </li>
            <li class="divider"></li>
            <li><a href ng-click="ctrl.identity.loginModal()"><span class="pull-left">Log Out</span> <i class="icon-surf-logout pull-right"></i></a></li>
        </ul><!-- dropdown-menu -->
    </li><!-- dropdown -->

    <li ng-if="!ctrl.identity.isLoggedIn"><a href="" ng-click="ctrl.identity.loginModal()">login <span class="caret"></span></a></li>
</ul>
