<ul class="navbar-nav navbar-right">
    <li ng-if="ctrl.identity.isLoggedIn" class="dropdown user-name-holder">
        <a href="#" data-toggle="dropdown">Hello, <span class="user-name">{{ctrl.identity.username}} <span class="caret"></span></span></a>
        <ul class="dropdown-menu">
            <li><a href="" ng-click="ctrl.identity.loginModal()"><span class="pull-left">Log Out</span> <i class="icon-surf-logout pull-right"></i></a></li>
        </ul><!-- dropdown-menu -->
    </li><!-- dropdown -->

    <li ng-if="!ctrl.identity.isLoggedIn"><a href="" ng-click="ctrl.identity.loginModal()">login <span class="caret"></span></a></li>
</ul>
