<section>

    <div class="container">

        <span ng-show="ctrl.label" class="custom-label big-label" ng-bind-html="ctrl.label"></span>

        <ng-transclude></ng-transclude>

        <div class="latest-video-wrapper">

            <div class="latest-video-item-box" ng-repeat="group in ctrl.videos | productsByImageWidth">

                <div class="row custom-height-flex">

                    <div ng-repeat="item in group" ng-class="['custom-height-flex-item', 'col-sm-' + 4 * item.weight, {'custom-col-right push-down': !$last, 'custom-col-left': !$first}]">
                        <div class="latest-video-item">
                            <img ng-src="{{item.image.imageURL}}" alt="">
                            <div class="video-overlay">
                                <div class="top-box">
                                    <p><span class="custom-label transparent-label">4 Days Ago</span></p>
                                    <p><span class="custom-label transparent-label">Episode</span></p>
                                </div><!-- top-box -->
                                <a ui-sref="movies.detail({id: item.productId})" class="play-btn"><i class="icon-surf-play"></i></a>
                                <div class="bottom-box" ng-class="{'half-width': item.weight === 2}">
                                    <span class="custom-label" ng-repeat="actor in item.actors">{{::actor}}</span>
                                    <h2>{{::item.shortTitle}}</h2>
                                    <h6>{{::item.shortDescription}}</h6>
                                </div><!-- bottom-box -->
                            </div><!-- video-overlay -->
                        </div><!-- latest-video-item -->
                    </div><!-- col -->

                </div><!-- row -->

            </div><!-- latest-video-item-box -->

        </div><!-- latest-video-wrapper -->

    </div><!-- container -->

</section><!-- latest-video-block -->

