/* FORMS styles */
form {
	font-family: $font-lato;
	font-weight: 300;
}
.form-group {
	position: relative;
}

label {
	color: $black;
	font-family: $font-franklin;
}

.checkbox, .radio {
	label {
		font-family: $font-lato;
		font-style: italic;
		a {
			color: $maroon-flush;
		}
	}
}

//Header form
.header-form {
	margin: 11px 0 0 0;
	@include respond-to(tablets-large) {
		max-width: 200px;
	}
	@include respond-to(tablets-small) {
		max-width: 160px;
	}
	@include respond-to(phones) {
		max-width: 100%;
		margin: 5px 0 10px 0;
	}
	.form-group {
		margin-bottom: 0;
	}
	input.form-control {
		color: $white;
		height: 30px;
		padding-right: 40px;
		background: $cod-gray;
		border: 1px solid $cod-gray;
		@include placeholder {
		    color: $white;
		}
		@include respond-to(tablets-small) {
			font-size: 0.75rem;
		}
		@include respond-to(phones) {
			font-size: 0.85rem;
		}
	}
	button {
		background: transparent;
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		border: none;
	}
	i {
		color: $color-alto;
		@include respond-to(phones) {
			font-size: 1rem;
		}
	}
}

//Leave comment form
#leave-comment-form {
	max-width: 570px;
	width: 100%;
	margin: 25px auto 0 auto;
	@include respond-to(phones) {
		max-width: 100%;
	}
}

legend {
	font-weight: bold;
	font-family: $font-lato;
	text-transform: uppercase;
	font-size: 1rem;
	border: none;
}

input.form-control, textarea.form-control, select.form-control {
	background: $porcelain;
	box-shadow: none;
	border-color: $color-alto-boulder;
	&:focus {
		box-shadow: 0 1px 10px rgba(204, 28, 74, 0.4) inset, 0 0 12px rgba(204, 28, 74, 0.8);
		border: 1px solid $maroon-flush;
	}
}

textarea.form-control, textarea {
	resize: none;
	height: 145px;
	@include respond-to(phones) {
		height: 80px;
	}
}

.search-holder {
	margin-bottom: 20px;
}
.clear_input {
	font-size: 26px;
	color: $emperor;
	&:hover, &:focus {
		color: $maroon-flush;
	}
}
.form-control {
	&.clearable {
		background:transparent;
		box-shadow: none;
		border-radius: 0;
		border: none;
		border-bottom: 1px solid $emperor;
		&:focus {
			border: none;
			box-shadow: none;
			border-bottom: 1px solid $maroon-flush;
		}
	}
}



