/* COLORS variables */
$white: #ffffff;
$black: #000000;
$cod-gray: #0b0b0b; //Dark black
$cod-gray-light: #171717; //Light black
$maroon-flush: #cc1c4a; //Red
$stck: #9e9f9e; //Grey text
$concerete: #f3f3f3; //Grey section
$mine-shaft: #383838; //Dark grey
$dove-gray: #616161; //Text color
$emperor: #555555; //Field icon color
$alto: #d1d0d0; //Grey border
$porcelain: #f7f8f9; //Fields bg
$color-alto: #cfcfcf;
$color-alto-boulder: #d2d2d2;
$color-chambray: #3b5998;
$color-emperor: #555555;
$color-cod-gray: #171717;
$color-stack: #9e9f9e;
$color-mine-shaft: #212121;

/* HEADER variables */
$header-bg: $cod-gray-light;

/* FOOTER variables */
$footer-bg: $cod-gray-light;

/* Fonts variables */
$font-franklin: 'FranklinGothic-Heavy';
$font-franklin-book: 'FranklinGothic-Book';
$font-lato: 'Lato', sans-serif;

/* BODY variables */
$body-font-size: 14px;
$body-line-height: 1.4rem;
$body-text-color: $dove-gray;
$body-font-family: $font-franklin;











