<section id="comment-block">

    <div class="container small-container">

        <span class="custom-label big-label">comments</span>

        <div class="comment-header-box">
            <div class="row">
                <div class="col-xs-6">
                    <p><span>{{ctrl.comments.length}}</span><i class="icon-surf-chat"></i></p>
                </div><!-- col -->

                <div class="col-xs-6 text-right">
                    <a href="#" ng-click="ctrl.onCollapseClick($event)" class="comment-trigger">Collapse</a>
                </div><!-- col -->
            </div><!-- row -->
        </div><!-- comment-header-box -->


        <div ng-hide="ctrl.collapsed" class="comment-body-box" ng-show="ctrl.comments.length">

            <div
                class="media main-comment"
                ng-class="{'last-media': $last}"
                ng-repeat="item in ctrl.comments"
            >

                <a class="media-left" href="#">
                    <img holder="holder.js/80x80">
                </a><!-- media-left -->

                <div class="media-body">
                    <h6 class="media-heading">
                        <span class="name">{{ item.customerId }}</span>
                        <i class="icon-surf-right-dir"></i>
                        <span class="date">{{ item.createDate | date:'medium' }}</span>
                        <a href="#">Reply</a>
                    </h6>
                    <div class="text-box">
                        <p>{{ item.comment }}</p>
                    </div><!-- text-box -->

                </div><!-- media-body -->

            </div><!-- media -->

        </div><!-- comment-body-box -->


        <form ng-submit="ctrl.onSubmit(commentForm)" name="commentForm" id="leave-comment-form" novalidate>

            <fieldset>

                <legend>leave a comment</legend>

                <div class="form-group" show-errors>
                    <textarea name="comment" required id="" ng-model="ctrl.comment" cols="" rows="" class="form-control" placeholder="Your message"></textarea>
                    <validation-messages ng-show="ctrl.submitted"></validation-messages>
                </div><!-- form-group -->

                <button type="submit" class="custom-btn red-btn">Post comment</button>

            </fieldset>

        </form><!-- leave-comment-form -->

    </div><!-- container -->

</section><!-- comment-block -->
