<section class="image-section section-no-padding-top">
    <img src="{{ ::ctrl.video.images.banner.imageURL }}" class="full-width" alt="">
    <div class="carousel-caption carousel-caption-table">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-8 push-sm-down">
                    <span ng-repeat="actor in ::ctrl.video.actors" class="custom-label">{{::actor}}</span>
                    <h2>{{::ctrl.video.shortTitle}}</h2>
                    <h3>{{::ctrl.video.shortDescription}}</h3>
                </div><!-- col -->
                <div class="col-lg-6 col-sm-4">
                    <div class="btn-holder">
                        <a ng-if="::ctrl.preview" href ng-click="ctrl.playPreview()" class="custom-btn white-btn text-uppercase">preview</a>
                        <a
                            ng-if="!ctrl.canWatchNow"
                            href class="custom-btn red-btn text-uppercase"
                            ng-repeat="item in ctrl.video.purchaseOptionList"
                            ng-click="ctrl.onPurchaseOption(item)"
                        >
                             {{ ::item.offerType }} {{ ::item.price | currency }}
                        </a>
                        <a ng-if="ctrl.canWatchNow" ui-sref="movies.watch({id: ctrl.video.productId})" class="custom-btn red-btn text-uppercase">Watch Now</a>
                    </div><!-- btn-holder -->
                </div><!-- col -->
            </div><!-- row -->
        </div><!-- container -->
    </div><!-- carousel-caption -->
</section>

<video-block
    id="related-video-block"
    class="grey-section"
    label="Related Videos"
    videos="ctrl.relatedVideos"
>
</video-block>


<comment-section for-product-id="::ctrl.video.productId"></comment-section>
