<div ng-controller="LayoutController as vm">
    <top-nav></top-nav>

    <div id="main-content">
        <div ui-view class="shuffle-animation"></div>
    </div><!-- main-content -->


    <footer>

        <div class="container">

            <div class="row">
                <div class="col-sm-9 push-down clearfix">
                    <a class="footer-logo" href="#"><img src="images/elements/skatelogo.png" alt=""></a>
                    <p class="copyright">© Shuvit TV – 2015. All rights reserved.</p>
                </div><!-- col -->

                <div class="col-sm-3">
                    <ul class="footer-social-list">
                        <li><a href="#"><i class="icon-surf-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-surf-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-surf-pinterest"></i></a></li>
                        <li><a href="#"><i class="icon-surf-youtube"></i></a></li>
                    </ul><!-- footer-social-list -->
                </div><!-- col -->
            </div><!-- row -->

        </div><!-- container -->

    </footer>
</div>
