<header class="navbar-fixed-top">

    <nav class="navbar">

        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" ng-click="ctrl.toggleNavBar()">
                    <i class="icon-surf-menu"></i>
                </button>
                <a class="header-logo" href="#"><img src="images/elements/logo.png" alt=""></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" uib-collapse="ctrl.isNavbarCollapsed">
                <ul class="navbar-nav">
                    <li><a href="#">New Videos</a></li>
                    <li><a href="#">Shows</a></li>
                    <li uib-dropdown on-toggle="toggled(open)">
                        <a href uib-dropdown-toggle id="nav-dropdown">
                            Extreme Network<i class="icon-surf-down-micro"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="nav-dropdown" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <form ng-submit="ctrl.$state.go('search', {query: ctrl.query})" name="searchForm" class="navbar-form header-form" ng-class="ctrl.$state.current.registration? 'navbar-right' : 'navbar-left'">
                    <div class="form-group">
                        <input type="text" name="query" class="form-control" placeholder="Search" ng-model="ctrl.query">
                        <button type="submit"><i class="icon-surf-search"></i></button>
                    </div><!-- form-group -->
                </form><!-- header-form -->

                <user-info ng-if="!ctrl.$state.current.registration"></user-info>
            </div><!-- /.navbar-collapse -->

        </div><!-- /.container -->

    </nav><!-- navbar -->

</header>
